@model IEnumerable<Cost_Accounting_2._0.Models.Transaction>

@{
    ViewData["Title"] = "Index";
}

<h2>Transactions</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
            @if(User.IsInRole(Role.Admin.ToString()))
            {<th>
                @Html.DisplayNameFor(model => model.CreditAccount.User.UserName)
            </th>}
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    if (User.IsInRole(Role.Admin.ToString()) || item.CreditAccount.User.UserName == User.Identity.Name)
    {   <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            @if(User.IsInRole(Role.Admin.ToString()))
            {<td>
                @Html.DisplayFor(modelItem => item.CreditAccount.User.UserName)
            </td>}
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
}
    </tbody>
</table>
